.Contacto
  width: 100%
  .Contacto-Header
    padding: 100px 20px
    width: 100%
    background-image: url('../../media/contacto/ayudar.png')
    background-size: cover
    background-repeat: no-repeat
    .Title
      width: 100%
      margin: auto
      text-align: center
      font-family: 'Lato'
      h3
        color: white
        font-weight: bold
        font-size: 62px
    .Subtitle
      width: 100%
      margin: auto
      text-align: center
      font-family: 'Lato'
      p
        color: #fac138
        font-size: 22px
    .Form
      width: 100%
      padding: 40px
      form
        width: 50%
        margin: auto
        input
          color: white
        .Especial
          display: flex
          flex-flow: row wrap
          justify-content: space-between
          .Medio
            width: 45%
