.Servicios
  font-family: 'Lato'
  width: 100%
  position: relative
  top: 100px
  .Servicios-Header
    width: 100%
    text-align: center
    padding: 10px
    .Title
      font-size: 22px
      color: #2e2e2e
    .Subtitle
      padding: 0 400px
      font-size: 46px
      color: #a41c28
      margin-top: 10px
  .Servicios-Image
    width: 100%
    // height: 700px
    img
      width: 100%
      // height: 100%
  .Servicios-Contenido
    width: inherit
    .Bloque
      width: 50%
      padding: 10px
      .Bloque-Title
        font-size: 22px
      .Bloque-Title.Rojo
        color: red
      .Bloque-Title.Verde
        color: green
      .Bloque-Title.Azul
        color: blue
