.nav-position
	width: 100%
	position: absolute
	top: 0
	z-index: 3
	.nav-cont
		width: 450px
		margin: 10px auto
		border-radius: 40px
		overflow: hidden
		border: 2px solid rgba(255,255,255, .5)
		.menu
			background-color: rgba(255,255,255, .6)
			width: 100%
			margin: auto
			.lista
				display: flex
				flex-flow: row wrap
				justify-content: space-evenly
				font-family: 'Comfortaa'
				a
					color: black
					font-size: 16px
					padding: 0 10px
					&:hover
						background-color: rgba(1,1,1, .05)
						cursor: pointer
		.background-dynamic
			background-color: transparent
			.lista
				a
					color: white
					font-weight: 600
	.border-dynamic
		border: none


.isActive
	background-color: rgba(1,1,1, .09)
