.cont-home
	width: 100%
	background-image: url('../../media/cabin6.jpg')
	//Las rutas de las imagenes son relativas
	background-size: cover
	background-repeat: no-repeat
	background-position: center

// @media screen and (max-width: 820px) and (max-height: 500px)
// 	.cont-home
// 		background-size: 320vh
// 		background-position: center 15%
// 		height: 150vh
// 		//border: 1px solid black
//
// @media screen and (max-width: 682px) and (max-height: 320px)
// 	.cont-home
// 		background-size: 360vh
// 		background-position: center 15%
// 		height: 165vh
