.cont-home
	width: 100%
	// height: 770px
	background-image: url('../../media/cabin6.jpg')
	//Las rutas de las imagenes son relativas
	background-size: cover
	background-repeat: no-repeat
	background-position: center
