.Banner
  width: 100%
  height: auto
  max-height: 300px
  padding: 30px 0
  background-image: url("../../media/Inicio/banner1.jpg")
  background-size: cover
  background-repeat: no-repeat
  //border: 1px solid black
  text-align: center
  font-family: 'Lato'
  color: white
  .container
    width: 70%
    margin: auto
    h2
      font-weight: bold
      font-size: 4vmax
    p
      font-weight: lighter
      font-size: 22px
      display: block
    .cont-Button
      width: 100%
      text-align: center
      button
        width: 180px
        height: 50px
        background-color: rgba(255,255,255, .7)
        border-style: none
        border-color: none
        color: #5e1014
        font-size: 18px
        border-radius: 5px
        transition: .7s
        &:hover
          cursor: pointer
          background-color: white
          border-radius: 10px

.BannerNosotros
  height: 610px
  display: flex

@media screen and (max-width: 868px)
  .Banner
    .container
      width: 85%
      h2
        font-size: 5vmax
      p
        font-size: 16px
      .cont-Button
        button
          width: 120px
          height: 40px
          font-size: 16px

@media screen and (max-width: 425px)
  .Banner
    padding: 10px
    .container
      width: 100%
      h2
        font-size: 28px
        margin-top: 5px
      p
        font-size: 14px
      .cont-Button
        button
          width: 100px
          height: 30px
          font-size: 14px
