.TeacherCard
  width: 300px
  height: auto
  border: 2px solid #eee
  text-align: center
  .TeacherImage
    margin: auto
    width: 240px
    img
      width: 100%
  .TeacherInfo
    h5
      color: #63101b
  .Materias
    background-color: #f6f6f6
    width: 100%
    h6
      width: 100%
      padding: 10px 5px
      background-color: #0f3f68
      color: white
